.Plan_card{
    display: flex;
    flex-direction: column;
    height: auto;
    color: var(--text);
    background-color: var(--BgWhite);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    width: auto;
    margin-top: 2rem;
    
}
.pamcon{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.planwin{
    font-size: 3rem;
    color: var(--primarycolor);
}
.plan-like{
    background-image: linear-gradient(90deg, #48a2f7, #544ba7);
    padding: 0.5rem;
    border-radius: 5px;
    margin: 1rem 0;
    color: var(--BgWhite);
}
.palngood{
    color: var(--primarycolor);
}
.container-PLAN {
    background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
  background-color: var(--bgcol);
    min-height: 100vh;
    place-content: center;
    display: flex;
    place-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0.7rem;

}
.plan-btn{
    background-color: var(--primarycolor);
   padding: 0.5rem;
    font-size: var(--p);
    color: var(--BgWhite);
    border-radius: 20px;
    margin-top: 1rem;
}
.pop-con{
    background-color: rgba(37, 37, 37, 0.521);
}
.pop-main{
    background-color: var(--BgWhite);
    padding: 2rem;
    border-radius: 20px;
   
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.041);
}
.concel-btn{
    background-color: var(--primarycolor);
    padding: 0.5rem;
    font-size: var(--p);
    color: var(--BgWhite);
    border-radius: 5px;
    margin-top: 1rem;
}
.submit-btn{
   
    padding: 0.5rem;
    font-size: var(--p);
    color: var(--BgWhite);
    border-radius: 5px;
    margin-top: 1rem;
}
.plap{
    place-items: center;
}
.select-input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #80a7fa;
    font-size: var(--p);
    margin-bottom: 1rem;
}
.allblue{
    height: 0rem;
    width: 100%;
    background-color: rgba(120, 120, 238, 0.918);
    
    bottom: 30%;
  
    
    box-shadow: 0 0 900px 300px rgba(127, 133, 232, 0.669);
    border-radius: 50%;
    
}
.card_hlder{
    
    gap: 1rem;
}
@media (max-width: 668px) {
    .Plan_card{
       width: 100%;
        padding: 1rem;
    }
    
    .card_hlder{
display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    
        
        width: 100%;
        place-items: center;
        
    }
}
@media (max-width: 400px){
.Plan_card{
    display: flex;
    flex-direction: row;
    height: auto;
    color: var(--text);
    
   
    border-radius: 20px;
    
    justify-content: center;
    position: relative;
    width: 100%;
    
    
}
.plap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.card_hlder{
display: flex;
flex-direction: column;
        width: 100%;
        place-items: center;
        gap: 0rem;
        
    }
    .pamcon{
        width: 100%;
    }

   
}
