.counter__containers{
    width: 100%;
    min-height: auto;
    color: var(--text);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.counter__content{
   
   
}
.counter__container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.801)), url("../../../public/team.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-radius: 50px;
}
.counter__number{
    font-size: 6rem;
    font-weight: 800;
    text-align: center;
    color: var(--BgWhite);
    margin: 1rem 0;
}
.counter__title{
    font-size: 1.5rem;
    color: var(--BgWhite);
}
.counter__h2{
    font-size: var(--miniheader);
    font-weight: 500;
    text-align: center;
    color: var(--BgWhite);
}