/* .hero__blues{
    height: 0rem;
    width: 100%;
    background-color: rgba(120, 120, 238, 0.918);
    position: absolute;
    bottom: 30%;
  
    
    box-shadow: 0 0 900px 200px rgba(85, 91, 201, 0.282);
    border-radius: 50%;
    
    animation: move 5s linear infinite;
}
/* .hero__content{
    position: relative;
  z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   position: relative;
  overflow: hidden;
    text-align: center;
}
.hero__section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vh;
    background-color: var(--BgWhite);
 
    place-items: center;
} */
 
.hero__section {
  position: relative;
  height: ;
  width: 100%;
  overflow: hidden;
  background-color: var(--BgWhite);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__blues {
  position: absolute;
  bottom: 30%;
  width: 100%;
  height: 0rem;
  background-color: rgba(120, 120, 238, 0.918);
  box-shadow: 0 0 300px 150px rgba(85, 91, 201, 0.282); /* reduced load */
  border-radius: 50%;
  animation: move 5s linear infinite;
  z-index: 5;
}

.hero__content {
  position: relative;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero_h1 {
  color: var(--text);
  font-size: var(--header);
  font-weight: 600;
}

.hero_span {
  color: var(--primarycolor);
}

.hero__p {
  font-size: var(--miniheader);
  color: var(--text);
}

.hero_p {
  font-size: var(--p);
  color: var(--text);
  margin-top: 10px;
}

.pdiv {
  width: 60%;
  margin: 1rem 0;
}

.hero_btn {
  background-color: var(--primarycolor);
  padding: 0.8rem 1.7rem;
  border-radius: 20px;
  font-size: var(--p);
  color: var(--BgWhite);
  font-weight: 500;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.hero_btn:hover {
  background-color: var(--blueshover);
}

.img-con {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.hero__img {
  height: 25rem;
  max-width: 100%;
  object-fit: contain;
}

/* Mobile Responsive */
@media all and (max-width: 767px) {
  .hero__section {
    height: 100vh;
    padding: 1rem;
  }

  .pdiv {
    width: 95%;
  }

  .hero_h1 {
    font-size: 1.6rem;
  }

  .hero_p {
    font-size: 1rem;
  }

  .hero__p {
    font-size: var(--p);
  }

  .hero_btn {
    font-size: 1rem;
  }

  .hero__img {
    height: 20rem;
  }
}
