.signup__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--BgWhite);
}
.signup__input:focus {
  outline: none;
  border-color: var(--primarycolor);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  transition: 0.2s ease;
}

.signup__button {
  transition: all 0.3s ease;
}

.signup__button:hover {
  transform: scale(1.02);
}

.signup-form{
    width: 60%;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    
    background-color: var(--BgWhite);
}
.signup__h1{
    font-size: var(--header);
    color: var(--primarycolor);
    font-family: var(--font-family);
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
.inputsignup{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--text);
    margin-bottom: 1rem;
    font-size: var(--p);
    font-family: var(--font-family);
    color: var(--text);
}
.signup__button{
    background-color: var(--primarycolor);
    color: var(--BgWhite);
    padding: 1rem;
    border-radius: 5px;
    font-size: var(--p);
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
}
.signup__button:hover{
    background-color: var(--goldhover);
}

.password__field {
    position: relative;
    width: 100%;
  }
  .password__field svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 20px; /* Adjust this value based on your icon size */
    width: 20px; /* Adjust this value based on your icon size */
  }
    .password__field input {
        padding-right: 40px; /* Adjust this value based on the width of the icon */
    }  
    .licksign{
        color: var(--primarycolor);
    }

    @media all and (max-width: 500px){
        .signup-form{
            width: 100%;
            
        }
        .signup__h1{
            font-size: 1.2rem;
        }
        .inputsignup{
            font-size: var(--p);
        }
        .signup__button{
            font-size: var(--p);
        }
    }
