.admin-dashboard_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: var(--BgWhite);
}
.admin-card {
  border: 2px solid #84b8ff;
    padding: 20px;
   
    padding: .75rem 1.25rem 1.25rem;
   
    border-radius: 4px;
   
}
.admin_dash_h4{
    font-size: 30px;
    
    font-weight: 600;
    margin-bottom: 10px;
}
.acard1{
     color: var(--BgWhite);
    background-color: #84b8ff;
}
.acard2{
     color: var(--BgWhite);
    border: 2px solid #FFA800;
    background-color: #FFA800;
}

.acard3{
    color: var(--BgWhite);
     border: 2px solid #50CD89;
     background-color:#50CD89 ;
}
.admin-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
   
}
.admin-table-header{
    background-color: #323248;
    color: #FFFFFF; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
    font-size: var(--p);
}
.admin-balance{
   
    padding: 10px;
   
   
    color: #50CD89;
}
.admin_tr{
    background-color: #2A2A3C;
    color: #FFFFFF;
   
    
}
.admin_tr:hover{
    background-color: #323248;
}
.admin-username{
    text-transform: uppercase;
    color:	#FFC700;
}
.admin-email{
     color: #3E97FF;
}
.admin-see-more-btn{
    background-color: #A855F7;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.admin_recent_activity {
   
   border-bottom: 1px solid #e5e9f2;
    display: flex;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
}
.admin_recent_activity-list{
    list-style: none;
    padding: 15px;
    display: flex;
   justify-content: space-between;
    gap: 10px;
}
/*adminDashboardlayout*/
.aside_admin{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #2B2B3C;
    overflow-y: auto;
    scrollbar-width: none;
}
.admin-panel-link{
    display: flex;
    align-items: center;
    padding: 10px 20px;
   
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    font-size: var(--p);
    font-weight: 600;
    transition: background-color 0.3s ease;
}
.admin-panel-link:hover{
    background-color: #3E3E4D;
}
/* }new update  */
.card-bordered {
    border: 2px solid #dbdfea;
     height: 100%;
    
}
.card-inner {
    padding: 1.25rem;
        font-family: Nunito, sans-serif;
    border-bottom: 1px solid #dbdfea !important;
    background-color: #3E97FF;
    color: var(--BgWhite);
}
.admin-icon{
    background-color:gold ;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
}
.user-activities{
    gap: 10px;
    color: #8e929c;
    font-weight: 400;
    font-size: 17px;
}
.user-activities-email{
    font-size: 14px;
   color: #5a5c5f;
   
}
.nk-tb-list {
    display: table;
    width: 100%;
    font-size: 13px;
    overflow-x: auto;
    color: #8094ae;
}
.nk-tb-item {
    transition: background-color .3s, box-shadow .3s;
    display: table-row;
}
.nk-tb-item:not(:last-child) .nk-tb-col {
    border-bottom: 1px solid #dbdfea;
}
.nk-tb-head .nk-tb-col {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #8094ae;
    
    border-bottom: 1px solid #dbdfea;
}
.nk-tb-col:first-child {
    padding-left: 1.25rem;
}
.nk-tb-col {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem .5rem;
}
.nk-head1{
      color: var(--BgWhite);
    background-color: #84b8ff;
    font-size: 20px;
}
.nk-head2{
    color: var(--BgWhite);
    border: 2px solid #FFA800;
    background-color: #FFA800;
}
.nk-head3{
    color: var(--BgWhite);
     border: 2px solid #50CD89;
     background-color:#50CD89 ;
}


   
