@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Edu+AU+VIC+WA+NT+Arrows:wght@611&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.input-field{
    border: 2px solid var(--grey);
    border-radius: 4px;
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
}
.input-fields{
    padding: 0.5rem 1rem;
    background-color: var(--gold);
    border-radius: 10px;
}
/* dashboard */
.wg-card-dash{
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 10px;
    
    border-radius: 20px;
    margin-bottom: 20px;
}
.shadow-nones{
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.wg-card {
   background-color: var(--box);
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    border-radius: 20px;

}
.dashlayout{
    display: flex;
     
     justify-content: center;
     gap: 20px;
}
.reward-clue{
    height: 5rem;
    background-color: var(--box);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;


}
.rewardsvg{
    height: 30px;
    width: 30px;
}
.reward-img-dash{
    display: flex;
    gap: 10px;
    color: var(--grey);
}
.reward-earn{
    height: auto;
    width: auto;
    padding: 5px 20px ;
    font-size: 20px;
    color: var(--White);
    border-radius: 20px;
    background-image: linear-gradient(to left, var(--Bronzetone),var(--Kumera));
}

.dashaside2{
   
    width: 70%;
    
      height: auto;
}
@media all and (max-width: 1200px){
    .dashlayout{
   flex-direction: column;
}
}
@media all and (max-width: 900px){
    .dashlayout{
   flex-direction: column;
}
.dashaside2{
    width: 100%;
}
.dashaside{
    width: 100%;
}
.wg-card-dash{
    flex-direction: column;
}
.wg-card {
    width: 100%;
}
.card-bg{
    width: 100%;
}
.buttondah{
    margin-top: 20px;
}
}
.dashaside{
   padding: 10px; 
   border-radius: 20px;
    width: 100%;
    background-color: var( --bs-secondary-bg);
    height: auto;
}

.wg-box.style-1 {
    padding: 24px;
    border: 0;
}
@media (max-width: 1440px) {
    .wg-chart-default, .wg-box {
        padding: 24px 15px;
    }
}
.wg-box {
    border-radius: 16px;
    padding: 23px;
    border: 1px solid var(--LightGray);
}
.wg-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 24px;
    flex-direction: column;
    gap: 24px;
    border-radius: 12px;
   
    box-shadow: 0px 4px 24px 2px rgba(10, 10, 12, 0.0509803922);
}
.text-content{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,var( --Kumera),var(--Bronzetone));
    font-size: var(--miniheader);
    font-weight: 500;
}
.card1-span {
    font-weight: 300;
    color: #7d7d7d;
     color: #3a3939;
}
.dahboaders{
    background-color: var(--bs-body-bg);
    background-position: center;
    background-size: cover;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    background-color: var(--box);
    border-radius: 20px;
}
.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
     color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,var( --Kumera),var(--Bronzetone));
}
.date-span{
    font-size: 13px;
    font-weight: 100;
    color: var(--White);
}
.trx-history-div {
    height: 220px;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    padding: 10px;
    border-radius: 20px;
}
.card-bg {
    background: var(--bs-secondary-bg);
    padding: 20px 30px;
    box-shadow: 0 0 20px 0 rgba(33, 37, 41, .04);
    border-radius: 20px;
}
.transac{
    margin-bottom: 20px;
}
.nav-link .nav-elements{
    color: var(--White);
}
.row {
   
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
   margin: 30px 15px;
}
.dashboard-heading-h {
    color: var(--White);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    gap: 10px;
    margin: 10px 0;
     font-family: "Lobster Two", sans-serif;
}
.btn1s {
    background-image:linear-gradient(to left,var(--Bronzetone),var(--Kumera));
    color: #fff;
    padding: 10px 20px;
    font-weight: 300;
    letter-spacing: .4px;
    
}
.btn3s{
    background: transparent;
    color: var(--White);
    border: 1px solid var(--Bronzetone);
    letter-spacing: .4px;
    padding: 10px 20px;
    font-weight: 300;
}
@media all and (max-width: 386px){
.btn1s ,.btn3s{
   
    padding: 10px 10px;
    font-size: 14px;
    
}
}

.dashboard-heading-h svg{
    background-color: var(--Bronzetone);
    padding:7px;
    border-radius: 10px;
    fill: #fff;
}
.buttondah{
    display: flex;
    gap: 20px;
    width: 100%;
}
/* nofication */
.notify-con{
    background-color: var(--bs-body-bg);
    min-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
}
.message-notify{
    background-color: var(--Bronzetone);
    color: var(--White);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
}
/* support */
.input-field{
    border-radius: 20px;
    border: 2px solid var(--Bronzetone);
    color: var(--White);
}
.support-h3{
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,var( --Kumera),var(--Bronzetone));
    margin-bottom: 20px;
}
.input-fields{
     background-image: linear-gradient(90deg,var( --Kumera),var(--Bronzetone));
     margin-top: 20px;
}
/* referral section */

.referral-section {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  background-color: var(--bs-secondary-bg);
  line-height: 30px;
}
.referral-section h3{
    font-weight: 700;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,var( --Kumera),var(--Bronzetone));
}
.referral-section p{
   color: grey;
   text-align: center;
   font-weight: 400;
}
.referral-box {
  display: flex;
  align-items: center;
}
.referral-input {
  flex: 1;
  padding: 0.5rem;
  margin-right: 0.5rem;
  background-color: var(--bs-body-bg);
  color: var(--White);
}
.copy-btn {
  background-color: var(--Bronzetone);
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.social-share a {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
}
.iconshare {
    color: var(--White);
    transition: 1s ease-in-out;
}
.iconshare:hover{
    color: var(--Bronzetone);
}
/* referral */

.referral-contain{
    background-color: var(--bs-body-bg);
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 20px;
}
.reward-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}
.amount-reward{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first-amount-reward{
    font-size: 60px;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(90deg,var( --Kumera),var(--Bronzetone));
    margin-bottom: 20px;
}
.Total-Referral-Reward{
    color: var(--White);
    font-size: 17px;
}
.referral-user{
clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
background-image: linear-gradient(var(--Bronzetone),var(--Kumera));
width: 10rem;
color: var(--White);
padding-left: 10px;
}
.referred-users-content{
    background-color: var(--bs-secondary-bg);
    height: auto;
    padding: 20px;
    border-radius: 20px;
    margin-top: 30px;
}
.invest_icons{
    font-size: 20px;
    margin-right: 5px;
    color: var(--Bronzetone);
}
.cap-user{
    margin-top: 10px;
}
.profile-top-nav{
    gap: 5px;
}
/* top nav */
.user-header{
    background-image: linear-gradient(var(--Bronzetone),var(--Kumera));
    color: var(--White);

}
.user-header-h1{
     font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
   color: var(--White);
}
.no-reward{
    color: var(--grey);
    margin-top: 10px;
}
.notification-icon{
    fill: var(--White);
}
/* admin route */
.admin-aside{
        background: #f5f6fa;
    overflow: auto;
    height: 100vh;
    padding: 10px;
    
   
    
}
.nk-menu{
    padding: 16px;
}
.nk-text{
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    color: blue;
}
.nk-menu-link {
    padding: .625rem 40px .625rem 24px;
   
    font-family: Nunito, sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: .01em;
    text-transform: none;
    line-height: 1.25rem;
}
.nk-menu-icon {
    font-size: 24px;
    letter-spacing: normal;
    vertical-align: middle;
    color: currentColor;
    transition: color .4s, background-color .4s;
}
.nk-menu-icon  {
    font-family: Nioicon !important;
    
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nk-header {
    background: #f5f6fa;
    border-bottom: 1px solid #e5e9f2;
    padding: 0 6px;
    
    padding: 10px;
}


/* admin-chat-dashboard */
.nk-msg-item {
    position: relative;
    cursor: default;
    background: rgba(226, 229, 241, 0.7);
    padding: 10px;
    border-left: 3px solid blue;
    border-radius: 10px;
    margin-bottom: 5px;
}

.nk-msg-item {
    border-bottom: 2px solid rgb(229, 233, 242);
}
.admin-subject{
    font-weight: 400;
    color: #7d7d7d;
}
.admin-chat-email{
    font-size: 18px;
    font-weight: 400;
}
.admin-chat-status{
    background-color: blue;
    color: var(--BgWhite);
    padding: 3px 10px;
    border-radius: 20px;
}
.textare-admin-chat{
    border: 2px solid grey;

}
.description-plans{
    min-width: 50%;
}
.plans-man{
  background-color: blue;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem .5rem;
    font-size: 13px;
    color: var(--BgWhite);

}
/*add-plan  */
.add-plan{
    padding: 20px;
}
.add-plan-input{
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid blue;
}
.add-plan-inputs {
    height: 4rem;
    border: 1px solid blue;
}
.add-plan-btn{
    padding: 10px;
}
.plan-mangement{
    padding: 20px;
}
.visitor-log{
    padding: 20px;
}
/* Admin Email Sender */
.modal-content {
    position: relative;
    min-height: 40px;
    box-shadow: 0 0 1px 0 rgba(82, 100, 132, .2), 0 8px 15.52px .48px rgba(28, 43, 70, .15);
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    line-height: 30px;
    
  padding: 40px;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: 20px;
    outline: 0;
}
.modal-header {
    display: flex
;
color: blue;
font-size: 10px;
font-weight: 300;
font-style: italic;
    flex-shrink: 0;
    align-items: center;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
}
.compose-mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.compose-mail-input{
    height: 40px;
    padding: 10px;
    width: 100%;
    border: 2px solid rgba(128, 128, 128, 0.548);
}
